In [176]:
import pandas as pd     #import library.
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [177]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [178]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/bank-full.csv',sep=";")

In [179]:
df.shape

(45211, 17)

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [181]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [182]:
df.tail() #check tail

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [183]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [184]:
df.duplicated().sum()

0

In [185]:
df.nunique()

age            77
job            12
marital         3
education       4
default         2
balance      7168
housing         2
loan            2
contact         3
day            31
month          12
duration     1573
campaign       48
pdays         559
previous       41
poutcome        4
y               2
dtype: int64

In [186]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,45211.0,40.936210,10.618762,18.0,33.0,39.0,48.0,95.0
balance,45211.0,1362.272058,3044.765829,-8019.0,72.0,448.0,1428.0,102127.0
day,45211.0,15.806419,8.322476,1.0,8.0,16.0,21.0,31.0
duration,45211.0,258.163080,257.527812,0.0,103.0,180.0,319.0,4918.0
campaign,45211.0,2.763841,3.098021,1.0,1.0,2.0,3.0,63.0
pdays,45211.0,40.197828,100.128746,-1.0,-1.0,-1.0,-1.0,871.0
previous,45211.0,0.580323,2.303441,0.0,0.0,0.0,0.0,275.0

In [187]:
from sklearn.preprocessing import LabelEncoder #preprocessing with LabelEncoder.
le_x= LabelEncoder() # create object
a=(df.apply(LabelEncoder().fit_transform)) #Fit the value.

In [188]:
a

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,40,4,1,2,0,3036,1,0,2,4,8,261,0,0,0,3,0
1,26,9,2,1,0,945,1,0,2,4,8,151,0,0,0,3,0
2,15,2,1,1,0,918,1,1,2,4,8,76,0,0,0,3,0
3,29,1,1,3,0,2420,1,0,2,4,8,92,0,0,0,3,0
4,15,11,2,3,0,917,0,0,2,4,8,198,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,33,9,1,2,0,1741,0,0,0,16,9,975,2,0,0,3,1
45207,53,5,0,0,0,2639,0,0,0,16,9,456,1,0,0,3,1
45208,54,5,1,1,0,5455,0,0,0,16,9,1116,4,181,3,2,1
45209,39,1,1,1,0,1584,0,0,1,16,9,508,3,0,0,3,0
45210,19,2,1,1,0,3779,0,0,0,16,9,361,1,185,11,1,0

In [189]:
a.describe().T

,count,mean,std,min,25%,50%,75%,max
age,45211.0,22.936055,10.618004,0.0,15.0,21.0,30.0,76.0
job,45211.0,4.339762,3.272657,0.0,1.0,4.0,7.0,11.0
marital,45211.0,1.167725,0.608230,0.0,1.0,1.0,2.0,2.0
education,45211.0,1.224813,0.747997,0.0,1.0,1.0,2.0,3.0
default,45211.0,0.018027,0.133049,0.0,0.0,0.0,0.0,1.0
balance,45211.0,1963.307469,1463.533246,0.0,988.0,1364.0,2344.0,7167.0
housing,45211.0,0.555838,0.496878,0.0,0.0,1.0,1.0,1.0
loan,45211.0,0.160226,0.366820,0.0,0.0,0.0,0.0,1.0
contact,45211.0,0.640242,0.897951,0.0,0.0,0.0,2.0,2.0
day,45211.0,14.806419,8.322476,0.0,7.0,15.0,20.0,30.0
month,45211.0,5.523014,3.006911,0.0,3.0,6.0,8.0,11.0
duration,45211.0,255.338502,239.660852,0.0,103.0,180.0,319.0,1572.0
campaign,45211.0,1.762381,3.075904,0.0,0.0,1.0,2.0,47.0
pdays,45211.0,40.154188,96.917547,0.0,0.0,0.0,0.0,558.0
previous,45211.0,0.573356,1.877700,0.0,0.0,0.0,0.0,40.0
poutcome,45211.0,2.559974,0.989059,0.0,3.0,3.0,3.0,3.0
y,45211.0,0.116985,0.321406,0.0,0.0,0.0,0.0,1.0

In [190]:
# dff=a.drop(['default','month'], axis=1)

In [191]:
# dff

In [192]:
# dff.shape

In [193]:
x=a.iloc[:,:-1]

In [194]:
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,40,4,1,2,0,3036,1,0,2,4,8,261,0,0,0,3
1,26,9,2,1,0,945,1,0,2,4,8,151,0,0,0,3
2,15,2,1,1,0,918,1,1,2,4,8,76,0,0,0,3
3,29,1,1,3,0,2420,1,0,2,4,8,92,0,0,0,3
4,15,11,2,3,0,917,0,0,2,4,8,198,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,33,9,1,2,0,1741,0,0,0,16,9,975,2,0,0,3
45207,53,5,0,0,0,2639,0,0,0,16,9,456,1,0,0,3
45208,54,5,1,1,0,5455,0,0,0,16,9,1116,4,181,3,2
45209,39,1,1,1,0,1584,0,0,1,16,9,508,3,0,0,3
45210,19,2,1,1,0,3779,0,0,0,16,9,361,1,185,11,1

In [195]:
y=a.iloc[:,16]

In [196]:
y

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [197]:
# #from sklearn.feature_selection import SelectKBest, chi2
# x = SelectKBest(chi2, k=12).fit_transform(x, y)
# x.shape
# x

In [198]:
from sklearn.model_selection import train_test_split #
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.30,random_state=42) #divide testing and training data.

In [199]:
xtrain

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
10747,18,9,2,2,0,916,0,0,2,16,6,153,3,0,0,3
26054,38,2,1,1,0,1112,0,0,0,18,9,312,2,0,0,3
9125,28,1,1,1,0,916,1,0,2,4,6,83,1,0,0,3
41659,23,4,0,2,0,4151,0,0,0,0,10,302,0,116,5,2
4443,20,1,1,1,0,916,1,0,2,19,8,90,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,26,3,2,0,0,1975,0,0,2,17,6,1527,0,0,0,3
44732,5,8,2,2,0,1424,0,0,0,7,11,210,0,89,1,0
38158,16,9,0,2,0,2233,1,0,0,14,8,239,0,0,0,3
860,15,5,1,1,0,1081,0,0,2,6,8,111,0,0,0,3
15795,20,1,1,0,0,875,1,0,0,20,5,68,9,0,0,3

In [200]:
ytrain

10747    0
26054    0
9125     0
41659    0
4443     0
        ..
11284    1
44732    0
38158    0
860      0
15795    0
Name: y, Length: 31647, dtype: int64

In [201]:
xtest

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
3776,22,1,1,1,0,1496,1,0,2,15,8,192,0,0,0,3
9928,29,7,2,1,0,4302,0,0,2,8,6,83,1,0,0,3
33409,7,8,2,2,0,1454,1,0,0,19,0,226,0,0,0,3
31885,24,4,1,2,0,2681,0,0,0,8,0,311,0,333,1,0
15738,38,4,1,2,0,1133,0,1,0,20,5,121,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9016,28,9,2,2,0,3635,0,0,2,4,6,47,0,0,0,3
380,20,1,1,1,0,1673,1,0,2,5,8,133,0,0,0,3
7713,23,0,1,1,0,4876,0,0,2,29,8,298,2,0,0,3
12188,23,8,1,1,0,2225,0,0,2,19,6,28,3,0,0,3
28550,39,4,0,2,0,1932,1,0,0,28,4,462,1,231,5,0

In [202]:
ytest

3776     0
9928     0
33409    0
31885    0
15738    0
        ..
9016     0
380      0
7713     0
12188    0
28550    0
Name: y, Length: 13564, dtype: int64

In [203]:
from sklearn.ensemble import RandomForestClassifier #import randomforest algorithm.
rclf=RandomForestClassifier() #create object.
rclf.fit(xtrain,ytrain) #fit the data
rclf.score(xtest,ytest) #check  score.

0.9038631672073135

In [204]:
from sklearn.tree import DecisionTreeClassifier #import DecisionTree algorithm.
rlf=DecisionTreeClassifier() #create object
rlf.fit(xtrain,ytrain) #fit the data.
rlf.score(xtest,ytest) #check score.

0.8737835446770864

In [205]:
from sklearn.ensemble import GradientBoostingClassifier #import GradientBoosting.
clf = GradientBoostingClassifier(n_estimators=1000, learning_rate=1.0,    max_depth=5, random_state=0)
clf.fit(xtrain,ytrain)
clf.score(xtest,ytest)

0.888897080507225

In [206]:
from xgboost import XGBClassifier  # import XGB
classifier = XGBClassifier() #create object
classifier.fit(xtrain,ytrain) #fit data for XGB
classifier.score(xtest,ytest)

0.9063698024181658

In [207]:
from sklearn import svm
cllf = svm.SVC()
cllf.fit(xtrain,ytrain)
cllf.score(xtest,ytest)

0.8847685048658213

In [208]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(xtrain,ytrain)
neigh.score(xtest,ytest)

0.8802713063992923

In [209]:
from sklearn.linear_model import LogisticRegression
lgr= KNeighborsClassifier()
lgr.fit(xtrain,ytrain)
lgr.score(xtest,ytest)

0.8802713063992923